
/* ==========================================================
   ========================== HTML ==========================
   ========================================================== */

html {
    position: relative;
    min-height: 100%;
}

/* ==========================================================
   ========================== BODY ==========================
   ========================================================== */

body {
    margin: 50px 60px;
    background-color: aliceblue;
}
body h1 {
    font-family: 'Merriweather', serif;
    margin-bottom: 40px;
}


/* ==========================================================
   ==================== CONTEUDO PRINCIPAL ==================
   ========================================================== */

.conteudo-principal {
    padding: 40px 15px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.conteudo-principal p {
    text-align: justify;
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
    margin-top: 20px;
}

/* ==========================================================
   ========================= INPUT ==========================
   ========================================================== */

input {
    margin-bottom: 10px;
}


/* ==========================================================
   ==================== RODAPE DA PAGINA ====================
   ========================================================== */

.footer {
    position: absolute;
    bottom: 0;
    /* Deixa o footer "infinito" */
    right: 0px;
    left: 0px;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222;
}
body > .container {
    padding: 60px 0px 0;
}
.container .text-muted { /* Coloca o texto do footer no meio */
    margin: 20px 0;
}


/* ==========================================================
   ==================== DESIGN RESPONSIVO ===================
   ========================================================== */

@media screen and (max-width: 550px) {
    body h1 {
        font-size: 25px;
    }
    .conteudo-principal {
        padding: 0px 0px;
        margin-bottom: 100px;
    }
    .conteudo-principal p {
        font-size: 20px;
    }
    .redes {
        padding-bottom: 7px;
    }
    .card {
        width: 120%;
        margin-left: -30px;
    }
    table th, table td, .btn {
        font-size: 15px;
    }
}

.t-detalhes {
    display: none;
}

@media only screen and (max-width: 550px) {
    .t-id, .t-valor, .t-desconto, .t-pagamento, .t-comprador, .t-alterar, .t-remover {
        display: none;
    }
    .t-detalhes {
        display: table-cell;
    }
}
@media only screen and (max-width: 900px) {
    .t-desconto, .t-pagamento, .t-comprador, .t-alterar, .t-remover {
        display: none;
    }
    .t-detalhes {
        display: table-cell;
    }
}

/* ==========================================================
   ====================== GRID SYSTEM =======================
   ========================================================== */

.grid {
    text-align: left;
}

.bs-select {
    float: left;
    margin-left: -40px;
}
.dataTables_info {
    color: darkgrey;
    float: left;
    margin-left: -40px;
}


/* ==========================================================
   =================== BARRA DE NAVEGACAO ===================
   ========================================================== */

.nav-hover-bg {
    background-color: grey;
}

.links-login-signin {
    display: -webkit-inline-box;
}

/* ==========================================================
   ===================== BOTOES PEQUENOS ====================
   ========================================================== */

.botao-pequeno {
    padding: 6px 12px;
    margin: unset;
}


/* ==========================================================
   ========================== MODAL =========================
   ========================================================== */

.modal-header {
    font-family: 'Merriweather', serif;
}

.modal-body, .modal-footer {
    font-family: 'Roboto Slab', serif;
}