body {
    margin: 50px;
}

.conteudo-principal {
    padding: 40px 15px;
    text-align: center;
}

.conteudo-principal p {
    text-align: justify;
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
    margin-top: 20px;
}

body {
    background-color: aliceblue;
}

body h1 {
    font-family: 'Merriweather', serif;
    margin-bottom: 40px;
}

input {
    margin-bottom: 10px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* --------- FOOTER --------- */

.footer {
    position: absolute;
    bottom: 0;
    /* Deixa o footer "infinito" */
    right: 0px;
    left: 0px;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222;
}
body > .container {
    padding: 60px 0px 0;
}
.container .text-muted { /* Coloca o texto do footer no meio */
    margin: 20px 0;
}
.text-muted {
    color: #9d9d9d;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.box {
    margin-top: 20px;
    border: 5px solid lightgrey;
}

/* Configuracoes design responsivo */

@media screen and (max-width: 550px) {
    body h1 {
        font-size: 25px;
    }
    .conteudo-principal {
        padding: 0px 0px;
        margin-bottom: 100px;
    }
    .conteudo-principal p {
        font-size: 20px;
    }
    .redes {
        padding-bottom: 7px;
    }
    .card {
        width: 120%;
        margin-left: -30px;
    }
    .table, .btn {
        font-size: 15px;
    }
}

.grid {
    text-align: left;
}