
/* =======================================================
   Fontes
   ======================================================= */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');


body {

    /* font-family: 'Roboto Slab', serif !important; */
    /* font-family: 'Slabo 27px', serif !important; */
    /* font-family: 'Oswald', sans-serif !important; */
    /* font-family: 'Merienda', cursive !important; */
    /* font-family: 'Merriweather', serif !important; */
    /* font-family: 'Lato', sans-serif !important; */
    /* font-family: 'Lora', serif !important; */
    /* font-family: 'Courgette', cursive !important; */
    /* font-family: 'Markazi Text', serif !important; */
    /* font-family: 'Bitter', serif !important; */
    /* font-family: 'Bree Serif', serif !important; */
    /* font-family: 'Playfair Display', serif !important; */
    /* font-family: 'Open Sans', sans-serif !important; */
    /* font-family: 'Montserrat', sans-serif !important; */
    /* font-family: 'Roboto', sans-serif !important; */

}


body {

    display: grid;
    grid-template: 
        "header header header header" 5em
        "main main main main" 100%
        "footer footer footer footer" auto
        / 1fr 5fr 2fr 1fr;
    min-height: 100vh;

}

#barra-navegacao {
    grid-area: header;
}
.footer {
    grid-area: footer;
}


/* !Para print_r dentro de pre */
pre {
    text-align: left;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}


/* ==========================================================
   ========================== BODY ==========================
   ========================================================== */

body {
    margin-top: 100px;
    background-color: #fafafa;
}
body h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-bottom: 40px;
}

.titulo-site, .titulo-perfil {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}


/* ==========================================================
   ==================== CONTEUDO PRINCIPAL ==================
   ========================================================== */

.conteudo-principal {
    grid-area: main;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.bem-vindo-index {
    text-align: justify;
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
    margin-top: 20px;
}

/* ==========================================================
   ========================= MISCS ==========================
   ========================================================== */

/* Inputs e Buttons */
input {
    margin-bottom: 10px;
}
input:hover {
    cursor: pointer;
}
button:not(.close), .botao {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    border: 2px solid lightgrey;
    border-radius: 15px;
}
input[type="radio"]:checked+label {font-weight:bold;}

/* Alertas */
.alert {
    font-weight: bold;
    font-family: 'Lora', serif;
    border-width: medium;
}

/* Icones */
.small-icon {
    height: 40px;
    width: 40px;
}
.medium-icon {
    height: 70px;
    width: 70px;
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #7b7b7b;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
body::-webkit-scrollbar {
	width: 14px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
body::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b; 
}

/* Select2 */
.select2-selection { 
    height: 2.5em !important;
    padding-top: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 15px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin-top: -2px;
    padding-left: 15px;
}

#input-obs {
    width: 100%;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 38px;
    padding: 15px;
}
.ui-autocomplete {
    font-family: 'Roboto Slab', serif;
    font-size: 90%;
}

/* Datepicker */
.datepicker--day-name {
    color: #CC0000 !important;
    font-weight: bold;
}

/* ==========================================================
   ==================== RODAPE DA PAGINA ====================
   ========================================================== */

.footer {
    font-family: 'Roboto Slab', serif;
    background-color: #222;
    margin-top: 30px;
    border-top: 5px solid black;
}
.container .text-muted { /* Coloca o texto do footer no meio */
    margin: 20px 0;
}

.titulo-site-footer {
    color: black;
    font-family: 'Lobster', cursive;
    font-size: x-large;
}

.footer-nav-item {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 16px !important;
}
.footer-nav-item:hover {
    color: black;
    background-color: #eceff1 !important;
    font-weight: bold;
}
.footer-nav-item.active {
    color: black;
    background-color: #eceff1 !important;
    font-weight: bold;
}

.footer-copyright {
    font-family: 'Courgette', cursive;
}

.footer hr {
    border-top: 3px solid white;
}

.icones-redes {
    text-align: right;
}

/* ==========================================================
   ====================== GRID SYSTEM =======================
   ========================================================== */

.grid {
    text-align: left;
}


/* ==========================================================
   =================== BARRA DE NAVEGACAO ===================
   ========================================================== */

#barra-navegacao {
    font-family: 'Roboto Slab', serif;
    min-height: 80px;
}

.nav-hover-bg {
    background-color: grey;
}

.links-login-signin {
    flex-direction: row;
}
.links-login-signin .nav-item {
    display: block;
    width: 50%;
}

.links-logout {
    display: -webkit-inline-box;
}

#icone-usuario {
    margin-right: 15px;
    position: relative;
    top: -3px;
}

#btn-login {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid lightgrey;
    border-radius: 15px;
    width: 100px;
}

#btn-cadastrar {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid lightgrey;
    border-radius: 15px;
    width: 120px;
}

#btn-logout {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid lightgrey;
    border-radius: 15px;
    width: 100px;
}


#btn-login:hover {
    background-color: #eceff1 !important;
}
#btn-cadastrar:hover {
    background-color: #5c6bc0 !important;
}
#btn-logout:hover {
    background-color: #ad1457 !important;
}


/* ==========================================================
   ===================== BOTOES PEQUENOS ====================
   ========================================================== */

.botao-pequeno {
    padding: 6px 12px;
    margin: unset;
}


/* ==========================================================
   ========================== MODAL =========================
   ========================================================== */

.modal-header {
    font-family: 'Merriweather', serif;
}

.modal-body, .modal-footer {
    font-family: 'Roboto Slab', serif;
}


/* =======================================================
   FORMULÁRIO DE ADIÇÃO DE COMPRA
   ======================================================= */

.opcao-pagamento {
    margin-right: 10px;
}

#formulario-compra {
    border: 6px solid #6c757d1a; border-radius: 10px;
}


/* ==========================================================
   ============== FORMULÁRIO RECUPERAÇÃO DE SENHA ===========
   ========================================================== */

.formulario-recuperacao-senha {
    margin: 50px auto;
    width: 80%;
}


/* ==========================================================
   ============== FORMULÁRIO DE CADASTRO DE USUÁRIO =========
   ========================================================== */

#form-cadastro {
    padding: 40px;
}
#form-cadastro h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2.81px;
    margin-bottom: 0;
}


/* ==========================================================
   ================= IMAGENS RESPONSIVAS ====================
   ========================================================== */

.responsive {
    width: 100%;
    height: auto;
}

.texto-imagem {
    color: white;
    background-color: rgba(133, 133, 133, 0.623);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ==========================================================
   =================== TABELA DE COMPRAS ====================
   ========================================================== */

#tabela-compras {
    line-height: 1.2;
    text-align: left;
}

.bs-select,
.dataTables_info {
    text-align: left;
}


/* ==========================================================
   ==================== PERFIL USUÁRIO ======================
   ========================================================== */

.imagem-usuario {
    height: 30px;
    width: 30px;
    padding-bottom: 2px;
    margin-top: 2px;
}

.titulo-perfil {
    text-align: left;
}

.dados-perfil {
    margin-top: 30px;
}

.nome-perfil {
    text-transform: uppercase;
    margin-bottom: 15px;
}

p.texto-dados {
    font-size: 20px;
    margin: 0 0;
}

.thead-grupos {
    font-weight: bold;
}


.titulo-dados {
    font-style: italic;
}
.titulo-dados + hr {
    margin: 0;
    border-top: 2px solid black;
}

/* ==========================================================
   ================= INFORMAÇÕES GRUPOS =====================
   ========================================================== */

#data-criacao, #numero-membros {
    font-size: 12px;
    font-weight: bold;
}
#data, #numero {
    font-size: 12px;
    color: grey;
}


/* ==========================================================
   =================== CARTÕES GRUPOS =======================
   ========================================================== */

/* Mensagem de alerta personalizada */
.mensagem-alerta {
    border: 4px solid black;
    padding: 16px;
    margin: 16px;
    background-color: rgb(109, 21, 21);
    color: white;
    width: 100%;
    margin-left: -0%;   /* (w-100)/2 */
}

/* NOVO CARTAO */
.cartao-novo {
    width: 49%;
    margin-top: 10px;
}
.cartao-novo:hover {
    color: cornflowerblue;
}

.cartoes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cg-coluna-imagem {
    /* Bordas */
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: 4px solid black;
}
.cg-coluna-imagem-usuario {
    /* Bordas */
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: 4px solid black;
}
.cg-imagem {
    padding: 7px;
    /* Centraliza verticalmente/horizontalmente */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* Bordas */
    border: 3px solid lightgrey;
}
.cg-coluna-informacoes {
    padding: 20px;
    text-align: left;
    background-color: white;
    /* Bordas */
    border-top: 3px solid darkgrey;
    border-right: 3px solid darkgrey;
    border-bottom: 3px solid darkgrey;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.cg-coluna-informacoes-usuario {
    padding: 20px;
    text-align: left;
    background-color: white;
    /* Bordas */
    border-top: 3px solid darkgrey;
    border-right: 3px solid darkgrey;
    border-bottom: 3px solid darkgrey;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.cg-linha-nome {
    margin-bottom: 10px;
}
.cg-nome {
    border-bottom: 3px solid red;
}
.small-bold {
    font-size: 12px;
    font-weight: bold;
}
.small-faded {
    font-size: 12px;
    color: grey;
}


/* ==========================================================
   ====================== AWESOMPLETE =======================
   ========================================================== */

.awesomplete {
    width: 100%;
}


/* ==========================================================
   ================== DESIGN INPUT ARQUIVO ==================
   ========================================================== */

#input-imagem {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

label[for=input-imagem] span {
    font-family: 'Oswald', sans-serif;
    letter-spacing: .5px;
}

#input-imagem + label {
    width: 220px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    padding: 8px 12px;
    border: 3px solid lightgrey;
    border-radius: 10px;
    background-color: rgb(78, 68, 68);
    display: inline-block;
}

#input-imagem:focus + label,
#input-imagem + label:hover {
    background-color: rgb(187, 187, 187);
}

#input-imagem:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}


/* =======================================================
   Cropper
   ======================================================= */

/* Limit image width to avoid overflow the container */
img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}


/* =======================================================
   Ícones
   ======================================================= */

#canvas-icones {
    height: 200px;
    width: 200px;
    border-style: groove;
    border-width: 7px;
    border-color: grey;
}
.imagem-perfil img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


/* =======================================================
   Pagina de backups
   ======================================================= */

#titulo-informacoes {
    font-size: 32px;
    letter-spacing: 2.48px;
    font-family: 'Oswald', sans-serif;
}
.cartao-informacao {
    padding: 40px;
    background-color: #2E2E2E;
    color: white;
    border: 0.5px solid rgb(26, 0, 0, 0.5);

    flex-grow: 1;
}
.cartao-informacao-titulo {
    font-family: 'Merienda', cursive;
    font-size: 18px;
}
.cartao-informacao-desc {
    font-family: 'Bitter', serif;
    font-size: 35px;
}

#resultado-backup {
    border: 3px solid lightgrey;
    border-radius: 10px;
}

.opcao-backup-intro {
    font-family: 'Markazi Text', serif;
    font-size: 26px;
}
.opcao-backup-titulo {
    font-family: 'Markazi Text', serif;
    font-size: 26px;
}
.opcao-backup {
    font-family: 'Bree Serif', serif;
}

article.cartao-informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* =======================================================
   Override Custom Checkbox MDBootstrap
   ======================================================= */

.custom-checkbox 
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: black !important;
}

/* =======================================================
   Override Toastr.js
   ======================================================= */

#toast-container > div {
    opacity: 1 !important;
}


/* =======================================================
   CODE PRETTIFY - Desert Theme
   ======================================================= */

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}

/* =======================================================
   BUSCAR
   ======================================================= */

#busca input, #busca select {
    border: 2px solid grey;
}



/* =======================================================
   RECURSOS
   ======================================================= */

.recurso {
    max-width: 300px;
    margin-bottom: 1.5rem !important;
}
.recurso-texto {
    font-family: 'Bree Serif', serif;
    font-size: 19px;
}
.titulo-recursos {
    font-family: 'Bitter', serif;
    text-transform: uppercase;
}


/* =======================================================
   CATEGORIAS e SUBCATEGORIAS
   ======================================================= */

.img-cat {
    width: 24px;
}


/* =======================================================
   NOTIFICAÇÕES
   ======================================================= */

.notificacao-icone {
    color: white;
    position: relative;
    margin-right: 10px;
}

.notificacao-icone .badge-notificacao {
    position: absolute;
    top: 1px;
    right: 2px;
    padding: 0px 7px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 13px;
}

.li-notificacao {
    position: relative;
}

.notificacoes-box.active {
    opacity: 1;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(1);
    transform-origin: right top 0;
    transform: scale(1);
}

.notificacoes-box {
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-weight: 400;

    z-index: 1;
    background: white;
    width: 430px;
    position: absolute;
    top: 46px;
    right: -1px;
    border-radius: 3px;
    padding: 20px;
    overflow: inherit;
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(0);
    transform-origin: right top 0;
    transform: scale(0);
}
.notificacoes-box.active {
    opacity: 1;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(1);
    transform-origin: right top 0;
    transform: scale(1);
}
.notificacoes-box:after {
    bottom: 100%;
    left: 93%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.notif {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding: 5px;
}
.notif-icon {
    width: 50px;
    height: 50px;
    margin-left: 8px;
    margin-top: 4px;
}