
.t-detalhes {
    display: none;
}

@media only screen and (max-width: 550px) {
    body {
        margin-top: 70px;
    }
    body h1 {
        font-size: 25px;
    }
    .conteudo-principal p {
        font-size: 20px;
    }
    .redes {
        padding-bottom: 7px;
    }
    table th, table td, .btn {
        font-size: 15px;
    }
    #form-cadastro {
        width: 120%;
        margin-left: -10%;
    }
    .formulario-recuperacao-senha {
        width: 100%;
    }
    .t-id, .t-valor, .t-desconto, .t-pagamento, .t-comprador, .t-alterar, .t-remover, .t-imagem {
        display: none;
    }
    .t-detalhes {
        display: table-cell;
    }
    .t-username-usuario, .t-email-usuario {
        display: none;
    }
    .cartao-usuario {
        width: 100%;
    }
    .cg-coluna-informacoes-usuario {
        height: 100px;
        padding: 20px;
        text-align: left;
        background-color: white;
        /* Bordas */
        border-top: 3px solid darkgrey;
        border-right: 3px solid darkgrey;
        border-bottom: 3px solid darkgrey;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .cg-nome-usuario {
        font-size: 98%;
    }
    .cg-login-nome {
        font-size: 96%;
    }
    .cg-coluna-imagem {
        height: 100px;
        /* Bordas */
        border-top: 3px solid black;
        border-left: 3px solid black;
        border-bottom: 4px solid black;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 7px;
        border-right: 3px solid black;
    }
    .cg-coluna-informacoes {
        height: 170px;
        padding: 20px;
        text-align: left;
        background-color: white;
        /* Bordas */
        border-top: 0px solid darkgrey;
        border-right: 3px solid darkgrey;
        border-bottom: 3px solid darkgrey;
        border-left: 3px solid darkgrey;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    .small-bold, .small-faded {
        font-size: 10px;
    }
    .btn-recarregar-grupos, .btn-criar-grupo {
        margin-top: 7px !important;
    }
    .links-login-signin {
        display: inline-block;
    }
    #btn-cadastrar {
        margin-left: -30px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 550px) {
    .nav-item {
        margin-left: 53px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 550px) {
    #btn-login {
        margin-right: 0px;
    }
    #tabela-compras {
        margin-left: -5% !important;
    }
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
    .t-desconto, .t-pagamento {
        display: none;
    }
    #tabela-compras {
        margin-left: -6%;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 900px) {
    #tabela-compras {
        margin-left: -3% !important;
    }
}

@media only screen and (max-width: 1160px) {
    .t-id {
        display: none;
    }
}